/* Block: form-container */
.form-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

/* Block: form-header */
.form-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
}

/* Element: form-title */
.form-title {
    font-size: 20px;
    margin-bottom: 20px;
}


.mat-icon-button{
    margin: 11px 0 16px;
    background-color: transparent;
    border: none;
    cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}
/* Element: form-fields */
.form-fields {
    width: 100%;
}

/* Element: form-field */
.form-field {
    width: 100%;
}

/* Element: form-button */
.form-button[type="submit"] {
    width: 50%; /* Adjust the width as needed */
    margin: 15px auto; /* Center-align the button using margin */
    display: block; /* Make the button a block-level element */
    align-self: center;
}

/* Element: form-error */
.form-error.mat-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Element: form-header-title */
.form-header-title h2 {
    margin: 11px 10px 0 16px;
}
