
.post-list {
    padding: 20px;
  }
  
  .post-list h2 {
    text-align: center;
  }
  
  .post-list ul {
    list-style: none;
    padding: 0;
  }
  
  .post-list li {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
  }
  .likes {
    color: #007bff; /* Blue color for the likes */
    display: flex; /* Align items horizontally */
    align-items: center; /* Vertically center the icon and text */
  }
  
  .like-icon {
    width: 20px; /* Set the width of the icon as needed */
    height: 20px; /* Set the height of the icon as needed */
    margin-right: 5px; /* Add some space between the icon and text */
  }
  