.submit-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding to adjust button size */
    border: none; /* Remove the border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change the cursor to a pointer on hover */
  }
  
  /* Center the button horizontally and add some spacing */
  button.submit-button {
    display: block; /* Make it a block element for centering */
    margin: 20px auto; /* Auto margin for horizontal centering */
  }
  quill-editor {
    height: 130px; /* Set the desired height in pixels */
  }
  