<div class="user-list">
    <h2>User List</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td >
            {{ user.first_name }} {{ user.last_name }}
          </td>
          <td>
            <button [disabled]="selectedUserId != null"(click)="selectUser(user.userid)">Select</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button [disabled]="selectedUserId === null" class="submit-button" (click)="onSubmit()">Submit</button>
  </div>
  