<div class="container">
    <div class="sidebar">
      <!-- Sidebar content -->
      <button (click)="openCreatepostDialog()">Create Post</button>
      <button (click)="openAddFriendsDialog()" >Add Friend</button>
      <button (click)="openViewFriendsDialog()">View Friends</button>
      <button (click)="logout()">Logout</button>
    </div>
    <div class="center">
      <!-- Your PostListComponent content goes here -->
      <div class="post-list">
        <app-post-list></app-post-list>
      </div>
    </div>
  </div>
  