<div class="form-container">
    <div class="form-container__header">
      <h2 class="form-container__title">LogIn</h2>
      <button class="form-container__close-button" mat-icon-button (click)="this.dialogRef.close()">
        <mat-icon aria-label="close" class="form-container__icon">close</mat-icon>
      </button>
    </div>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-container__fields">
        <mat-label class="form-container__label">Email</mat-label>
        <input matInput type="email" formControlName="email" required class="form-container__input">
      </mat-form-field>
  
      <mat-form-field class="form-container__fields">
        <mat-label class="form-container__label">Password</mat-label>
        <input matInput type="password" formControlName="password" required class="form-container__input">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" class="form-container__button">Login</button>
    </form>
  </div>
      