    /* Style the form container */
    .form-container {
       
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;
    }
    
    /* Style form fields */
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    
    /* Style the submit button */
    button[type="submit"] {
        width: 50%; /* Adjust the width as needed */
        margin-top: 15px;
        align-self: center; /* Center-align the button */
    }
    
    /* Style error messages */
    .mat-error {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }
    
    /* Style the form title */
    .form-title {   
        font-size: 20px;
        margin-bottom: 20px;
    }
   
    .fields {
        width: 100%;
    }
    
     
    .form-container__header {
        display: flex;
        width:100%;
        justify-content: space-between;
    }

    .header h2{
        margin:11px 0px 16px;
    }
